
pyqt5
matplotlib
pandas
scipy
librosa
folium
pyinstaller
tilemapbase

# brew install hdf5 # For MacOS.
# tables # Use "pip install tables" instead.
# h5py # Use "pip install h5py" instead.

# git+https://github.com/cloudedbats/cloudedbats_dsp
# git+https://github.com/cloudedbats/cloudedbats_hdf5
# git+https://github.com/cloudedbats/cloudedbats_metadata

